Repository AjinkyaIndulkar/pkgviz-python, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, ci/cd, documentation, dependencies, pkgviz, unit-tests

.github/labeler.yml:

admin:
  - .github/CODEOWNERS

ci/cd:
  - .github/*
  - .github/**/*

documentation:
  - '**/*.md'

dependencies:
  - '**/*requirements*'

pkgviz:
  - 'src/*'
  - 'src/**/*'

unit-tests:
  - '**/tests/*'
  - '**/tests/**/*'

:pushpin: lock requirements
  Makefile
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
Labels: dependencies

:construction_worker: update code check
  .github/workflows/code-check.yaml
  README.md
Labels: ci/cd, documentation

Create LICENSE.md
  LICENSE.md
Labels: documentation

:memo: update README
  LICENSE
  README.md
  assets/logo.png
Labels: documentation

:sparkles: add `Node` type
  src/pkgviz/types.py
Labels: pkgviz

:sparkles: add util functions
  src/pkgviz/utils.py
Labels: pkgviz

:sparkles: add `Engine` class
  src/pkgviz/engine.py
Labels: pkgviz

:sparkles: add CLI
  src/pkgviz/cli.py
Labels: pkgviz

:heavy_plus_sign: add click dependency
  requirements.txt
  setup.cfg
Labels: dependencies

:bug: fix save path
  src/pkgviz/engine.py
Labels: pkgviz

:art: lint code
  src/pkgviz/types.py
  src/pkgviz/utils.py
Labels: pkgviz

:heavy_plus_sign: add rich dependency
  requirements.txt
  setup.cfg
Labels: dependencies

:sparkles: add function to get logger
  src/pkgviz/utils.py
Labels: pkgviz

:loud_sound: add logging messages
  src/pkgviz/cli.py
  src/pkgviz/engine.py
Labels: pkgviz

:memo: update README
  README.md
Labels: documentation

:memo: update README
  README.md
  assets/viz-demo.svg
Labels: documentation

:heavy_plus_sign: add bumpversion dependency
  README.md
  requirements-dev.in
  requirements-dev.txt
Labels: documentation, dependencies

:wrench: add bumpversion configuration to setup.cfg
  setup.cfg
Labels: none

:zap: update init constants
  src/pkgviz/__init__.py
Labels: pkgviz

:white_check_mark: add unit tests
  src/pkgviz/cli.py
  tests/test_cli.py
  tests/test_data/test.svg
  tests/test_engine.py
  tests/test_types.py
Labels: pkgviz, unit-tests

:construction_worker: add ci workflow
  .github/workflows/pkgviz-ci.yaml
  README.md
Labels: ci/cd, documentation

:heavy_plus_sign: add new dev dependencies
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
Labels: dependencies

:white_check_mark: update unit test
  tests/test_cli.py
Labels: unit-tests

:construction_worker: add publish workflow
  .github/workflows/publish.yaml
  requirements-dev.in
  requirements-dev.txt
  setup.cfg
  src/pkgviz/__init__.py
Labels: ci/cd, dependencies, pkgviz

Bump version: 0.0.0 → 0.1.0
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz

Bump version: 0.1.0 → 0.1.1
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz

:wrench: fix `setup.cfg`
  setup.cfg
Labels: none

Bump version: 0.1.1 → 0.1.2
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz

:wrench: add MANIFEST
  MANIFEST.in
Labels: none

Bump version: 0.1.2 → 0.1.3
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz

:pencil2: fix asset links
  README.md
Labels: documentation

Bump version: 0.1.3 → 0.1.4
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz

:memo: add new badge
  README.md
Labels: documentation

Bump version: 0.1.4 → 0.1.5
  setup.cfg
  src/pkgviz/__init__.py
Labels: pkgviz
